# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter artifacts (if you ever use notebooks)
.ipynb_checkpoints/

# Virtual environments
env/
venv/
.venv/

# System files
.DS_Store
Thumbs.db

# VS Code settings (optional)
.vscode/

# Mac/Linux hidden files
*.swp

test.py